.wrapper {
  width: 400px;
  font-family: 'Helvetica';
  font-size: 14px;
  border: 1px solid #CCC;
  padding-top:20px;
  margin-top:20px;
  margin-bottom:20px;
}
.Date
{
  margin-right:50px;
}
ul.internal li
{ 
  display: inline-block;
  box-sizing: initial;
}

ul.internal li{
  padding-bottom:30px;
}
.StepProgress {
  position: relative;
  padding-left: 0px;
  list-style: none;
}
.StepProgress-item::before{
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 4px solid #CCC;
}
.StepProgress-item {
  position: relative;
  counter-increment: list;
}
.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}
.StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}
.StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 12px;
  height: 12px;
  border: 4px solid #CCC;
  border-radius: 50%;
  background-color: #FFF;
}
.StepProgress-item.is-done::before {
  border-left: 4px solid #20a8d8;
}
.StepProgress-item.is-done::after {
  content: "✔";
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 2px solid #20a8d8;
  background-color: #20a8d8;
}
.StepProgress-item.current::before {
  border-left: 4px solid #20a8d8;
}
.StepProgress-item.current::after {
  content: '';
  padding-top: 1px;
  width: 19px;
  height: 18px;
  top: -4px;
  left: -40px;
  font-size: 14px;
  text-align: center;
  color: #20a8d8;
  border: 4px solid #20a8d8;
  background-color: white;
}
.StepProgress strong {
  display: block;
}

