certifi==2017.4.17
chardet==3.0.4
Cython==0.26
Django==1.11.3
django-debug-toolbar==1.11.1
django-extensions==1.8.1
django-grappelli==2.10.1
djangorestframework==3.6.3
idna==2.5
numpy==1.13.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.1
six==1.10.0
sqlparse==0.2.3
urllib3==1.21.1
