{% extends "accounts/store_settings.html" %}
{% load staticfiles %}
{% block template_to_include %}
    {% include "accounts/design.html" %}
{% endblock %}
{% block store-class %}
    class="nav-link"
{% endblock %}
{% block store-url %}
    href= href='{% url "store-settings" request.user.get_store.pk %}
{% endblock %}
{% block design-class %}
    class="nav-link active"
{% endblock %}
{% block design-url %}
    href="#"
{% endblock %}
{% block courier-class %}
    class="nav-link"
{% endblock %}
{% block courier-url %}
    href='{% url "store-settings-courier" request.user.get_store.pk %}'
{% endblock %}
